:root {
    --color-accent: #34547A;
    --color-title: #000;
    --color-main: #727272;
    --color-contrast: #fff;
    --bg-accent: #F9F9F9;
    --bg-main: #EEEFF1;
}


body {
    font-family: "Roboto", sans-serif;
    color: var(--color-main);
    background-color: var(--bg-main);
    line-height: 1.64;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color-title);
    font-weight: 500;
}

.center {
    padding: 0 calc(50vw - 555px);
    box-sizing: border-box;
}

/*.center__about {*/
/*    padding: 0 calc(50vw - 960px);*/
/*    box-sizing: border-box;*/


/*btn*/
.work__btn {
    position: relative;
    background: none;
    color: var(--color-contrast);
    min-width: 225px;
    width: 0;
    min-height: 65px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    box-sizing: border-box;

}

.btn:hover,
.btn:focus {
    background: var(--color-contrast);
    color: var(--color-accent);
}

.btn:active {
    opacity: .7;
}

/*btn*/

/* header */
.header {
    padding-top: 80px;
    padding-bottom: 20px;
    background: var(--bg-main);
    position: sticky;
    top: 0;
}

/* header */

/* nav */
.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav__link {
    color: var(--color-title);
    /*line-height: 164%;*/
    /*line-height: 1.64;*/
    letter-spacing: 0.1em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover,
.nav__link:focus {
    text-decoration: underline;
}

.nav__link--active {
    opacity: .7;
}

.nav__link.nav__link--active {
    color: var(--color-accent);
    font-weight: 500;
}

/* nav */

/* offer */
.offer {
    padding-top: 142px;
    padding-bottom: 142px;
}

.offer__content {
    max-width: 540px;
}

.offer__title {
    font-size: 48px;
    /*line-height: 1.64;*/
    /*margin-top: 0;*/
    /*margin-bottom: 60px;*/
    margin: 0 0 60px;

}

.offer__description {
    margin: 0 0 60px;
}

/* offer */


/* about*/
.about {
    padding-top: 112px;
    padding-bottom: 100px;
    background: var(--bg-accent);
}


.about__title {
    color: var(--color-title);
    font-size: 32px;
    max-width: 403px;
    /*min-height: 30px;*/
    margin: 0 auto 0;
    /*display: flex;*/
    /*justify-content: center;*/
    /*box-sizing: border-box;*/
    /*align-self: center;*/
}

.about__content {
    max-width: 540px;
    min-height: 147px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*box-sizing: border-box;*/
}

.about__description {
    font-size: 16px;
    margin: 50px 0 0;
}

/* about*/
/* numbers */
.numbers {
    background: var(--color-accent);
    max-width: 1920px;
    min-height: 250px;
    /*padding-top: ;*/
    /*padding-bottom: ;*/

}

.numbers__content {
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    /*box-sizing: border-box;*/
    gap: 45px;

}

.numbers__item {
    /*max-width: 50px;*/
    /*min-width: 50px;*/
    /*margin-right: 20px;*/
}

.numbers__description {
    float: right;
    margin-top: 2px;
    padding-left: 20px;
    color: var(--color-contrast);
    /*max-width: 36px;*/
    /*min-height: 19px;*/
    /*margin-bottom: 10px;*/
}

/*.numbers__description__detail {*/
/*    float: right;*/
/*    !*order: 2;*!*/
/*    color: var(--color-contrast);*/
/*    max-width: 71px;*/
/*    min-width: 15px;*/


/*.numbers__item {*/
/*    !*max-width: 50px;*!*/
/*    !*min-height: 50px;*!*/
/*    !*padding-right: 3px;*!*/
/*}*/

/* numbers */

/* work */
.work {

    background: var(--bg-main);
    max-width: 1920px;
    min-height: 1004px;

}

.work__content {
    max-width: 540px;
    min-height: 147px;
}

.work__title {
    text-align: center;
}

.work__deskription {
    margin: 50px auto 57px;
    font-size: 16px;
}


.work__foto {
    position: absolute;

    /* work*/
}

/*footer*/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--color-accent);
    color: var(--color-contrast);
}

.footer__name {
    color: var(--color-contrast);
    margin: 0 0 20px;
    font-size: 21px;
}

.footer__copyright {
    font-size: 13px;
    margin: 0;
}

/*footer*/


