@media screen and (max-width: 950px) {
  .header {
    padding-top: 30px;
  }

  .center {
    padding-left: calc(50vw - 350px);
    padding-right: calc(50vw - 350px);
  }

  .offer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}