.about {
  padding-top: 112px;
  padding-bottom: 100px;
  background: var(--bg-accent);


  &__title {
    color: var(--color-title);
    font-size: 32px;
    /*max-width: 403px;*/
    /*min-height: 30px;*/
    margin: 0 0 50px;
    text-align: center;
    line-height: 117%;
    /*display: flex;*/
    /*justify-content: center;*/
    /*box-sizing: border-box;*/
    /*align-self: center;*/
  }

  &__content {
    max-width: 540px;
    min-height: 147px;
    margin: 0 auto;
    /*display: flex;*/
    /*justify-content: center;*/
    /*box-sizing: border-box;*/
  }

  &__description {
    font-size: 16px;
    margin: 50px 0 0;
  }
}