
body {
  font-family: "Roboto", sans-serif;
  color: var(--color-main);
  background-color: var(--bg-main);
  line-height: 1.64;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-title);
  font-weight: 500;
}

.center {
  padding: 0 calc(50vw - 555px);
  box-sizing: border-box;
}
