.footer {
  @include accent-section($bg-color: var(--color-accent), $text-color: var(--color-contrast));
  padding-top: 50px;
  padding-bottom: 50px;
  //background: var(--color-accent);
  //color: var(--color-contrast);

  &__name {
    color: var(--color-contrast);
    margin: 0 0 20px;
    font-size: 21px;
  }

  &__copyright {
    font-size: 13px;
    margin: 0;
  }
}
